<% if flash[:notice] %>
   <div class="alert success">
      <%= flash[:notice] %>
   </div>
<% elsif flash[:alert] %>
   <div class="alert error">
      <% flash[:alert].each do |msg| %>
         <p>
            <%= msg %>
         </p>
      <% end %>
   </div>
<% end %>