<%= form_for(@post) do |f| %>
   <div class="field">
      <%= f.label :entry %><br />
      <%= f.text_field :entry %>
   </div>
   <div class="actions">
      <%= f.submit "Write" %>
   </div>
<% end %>