body {
   background-image: url('dark_wall.png');
   color: #F3F2F2;
}

i {
   display: inline;
}

.picker {
   display: inline-block;
   margin: 1px;
}

.prompt {
   display: inline;
   float: left;
}
.form {
   display: inline;
   padding: 5px;
   float: none;
}


input[type=text] {
   background: rgba(255, 255, 255, 0.4);
}

h2 { 

}