body {
   background-image: url('dark_wall.png');
   color: #F3F2F2;
   height: 100%
   /*overflow: hidden;*/
   font-family: 'Coming Soon', cursive;
}

.left {
   display: inline-block;
   float: left;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.prompt {
   display: inline-block;
   float: left;
   font-size: 3.25em;
   font-style: bold;
   margin-left: 20px;
   font-family: 'Abel', sans-serif;
   text-transform: uppercase;
   width: 145px;
}

.font {
   display: inline-block;
   float: left;
   font-size: 2.5em;
   letter-spacing: 2.5px;
   line-height: 100px;
   height: 100px;
   font-style: bold;
   margin-left: 20px;
   text-transform: uppercase;
   width: 145px;
}

.right {
   display: inline-block;
   float: left;
   padding-left: 10px;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

input[type=text] {
   background: rgba(54, 54, 54, 0.6);
   font-size: 2.5em;
   letter-spacing: 2.5px;
   color: #f3f2f2;
   width: 550px;
   line-height: 100px;
   height: 100px;
   padding-left: 10px;
}

.picker {
   display: inline-block;
   float: left;
   margin: 5px;
   height: 25px; 
   width: 72px;
}

/*Posts*/


.post_container {
   /*clear: both;*/
   text-align: left;
   width: 100%;
   letter-spacing: 1px;
}

.post.new {
   opacity: 0.5;
   margin-top: 10px;
}

.prepend {
   position: relative;
   text-decoration: none;
   font-family: 'Abel', sans-serif;
   text-transform: uppercase;
   font-size: 4em;
   font-weight: bolder; 
   text-decoration: none;
   letter-spacing: 1px;
}

.prepend h2 {
   text-align: justify;
}

.prepend:after{
    content:'';
    position:absolute;
    left:0;
    right:0;
    bottom: 9px;
    border-bottom: solid 3px;
    width: 98%; 
 }

.entry {
   font-size: 3.5em;
   margin-left: 10px;
   opacity: 0.90;
   letter-spacing: 2.5px;
   line-height: 1.5em;
}

#fixed {
   margin-top: 0px;
   height: 70%;
   overflow: scroll;
}


/*

.left {
   display: inline-block;
   float: left;
   margin-left: 30px;
}

.prompt {
   display: inline-block;
   float: left;
   font-size: 3.25em;
   font-style: bold;
   margin-left: 20px;
   font-family: 'Abel', sans-serif;
   text-transform: uppercase;
   width: 145px;
}

.font {
   display: inline-block;
   float: left;
   font-size: 3.25em;
   font-style: bold;
   margin-left: 20px;
   text-transform: uppercase;
   width: 145px;
}

.right {
   display: inline-block;
   float: left;
   padding-left: 10px;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.form {
   display: inline-block;
   float: left;
   margin-left: 20px;
}

.prompt_container {
   margin-top: 20px;
   display: block;
}

.color_container {
   display: block;
   clear: both;
   margin-left: -5px;
}

.picker {
   display: inline-block;
   float: left;
   margin: 5px;
   height: 25px; 
   width: 72px;
}

.post_container {
   display: block;
   padding-left: 50px;
   clear: both;
   margin-top: 75px;
   text-align: left;
   letter-spacing: 2.5px;
   padding-bottom: 50px;
   width: 75%;
   padding-left: 240px;
   text-indent:-190px;
}

.prepend {
   border-bottom: 3px solid;
   font-family: 'Abel', sans-serif;
   text-transform: uppercase;
   font-size: 4em;
   font-weight: bolder;
}

.entry {
   font-size: 3.5em;
   margin-left: 10px;
   opacity: 0.90;
   letter-spacing: 2.5px;
}

input[type=text] {
   background: rgba(54, 54, 54, 0.6);
   font-size: 2.5em;
   letter-spacing: 2.5px;
   color: #f3f2f2;
   width: 550px;
   padding-left: 10px;
}

input[type=submit] {
   position: relative;
   left: -2px;
   width: 566px;
   font-size: 1.25em;
   border-style: inset;
   background-color: #f3f2f2;
   opacity: .50;
   color: #323232;
   transition: opacity .25s ease-in-out;
   text-transform: uppercase;
}

input[type=submit]:hover{
   color: #323232;
   opacity: .95;
}

#fixed {
   margin-top: 50px;
   height: 100%;
   overflow: auto;
}

*/