%html{:'ng-app' => 'inspire'}
   %head
      %title Inspireboard
      = javascript_include_tag "application"
      = stylesheet_link_tag "application", :media => "all"
      = csrf_meta_tags
   %body
      %div{:'ng-controller' => "PostsController"}
      %div{:'ng-view' => ""}